//- include ../mixins/flash-messages

doctype html
html
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')

        title= site.brand

        block css
          if env == 'production'
            link(href=bundle('app.css'), rel='stylesheet')

        block head
    body

        block navigation

        block content

        block footer

        block js
          script(src=bundle('app.js'))

        block analytics
          if env == 'production' && process.env.GOOGLE_ANALYTICS_ID
            script(async='', src='https://www.googletagmanager.com/gtag/js?id=' + process.env.GOOGLE_ANALYTICS_ID)
            script.
              window.dataLayer = window.dataLayer || [];
              function gtag(){dataLayer.push(arguments)};
              gtag('js', new Date());
              gtag('config', '#{process.env.GOOGLE_ANALYTICS_ID}');
