nav.navbar.navbar-inverse.navbar-static-top
  .container
    .navbar-header
      a.navbar-brand(href=url('home'))= site.brand
    if user
      p.navbar-text.navbar-right
        | Signed in as 
        if user.canAccessKeystone
          a.navbar-link(href='keystone/users/' + user._id)= user.name.full
        else
          | #{user.name.full}
        if user.canAccessKeystone
          |  | 
          a.navbar-link(href=url('admin')) Admin
        |  | 
        a.navbar-link(href=url('signout')) Sign Out
    else
      #navbar.navbar-collapse.collapse
        form(method='post', action=keystone.get('signin url')).navbar-form.navbar-right
          input(type='hidden', name=csrf_token_key, value=csrf_token_value)
          .form-group
            input.form-control(name='email', type='email', placeholder='Email')
          .form-group
            input.form-control(name='password', type='password', placeholder='Password')
          button.btn.btn-success(type='submit') Sign in
